<!DOCTYPE html>
<html>
<head><title>Login page</title></head>
<body>
  <button style="display: inline;background-color: rgb(51, 102, 255);border-radius: 5px;">
    <a href="/" class="link" style="text-decoration: none;color: white;font-size: 20px;padding: 0;">Main page</a></button>

  <h2>Login</h2><br>
  <form action="/loginconfirm" method="POST">
    <label for="username">Name:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
  <button><a href="/register" style="text-decoration: none;">Registration</a></button>

  <br><br>
  {{if .}}
  {{.}}
  {{end}}

  </body>
</html>